<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <br>
    <br>

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-img
          src="assets/Profilepic.png"
          alt="Profile Picture"
        ></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2> Naomi Vella </h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5> 23. 10. 1995 </h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5> naomivella&#64;gmail.com </h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <ion-button expand="block">Edit Profile</ion-button>
  <ion-button expand="block">Settings</ion-button>
  <ion-button expand="block">Delete Account</ion-button>
  
</ion-content>
