<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="20px">
            <ion-thumbnail style="width: 25px; height: auto;">
              <img alt="Logo" src="assets/Logo.png"/>
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            SavingStar
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon src="assets/Logo.png"></ion-icon>
      <ion-title size="large">SavingStar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="custom-header">
    <ion-button slot="start" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h1>Laptop Receipt</h1>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Laptop Receipt</ion-card-title>
      <ion-card-subtitle>Category: Tech</ion-card-subtitle>
      <ion-card-subtitle>Upload Date: 12.12.23</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Note <br>
      New Laptop bought from Scan in 2023. Keeping for Guarantee
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <ion-img src="assets/Laptop-Receipt.webp"></ion-img>
</ion-content>