<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="20px">
            <ion-thumbnail style="width: 25px; height: auto;">
              <img alt="Logo" src="assets/Logo.png"/>
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            SavingStar
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon src="assets/Logo.png"></ion-icon>
      <ion-title size="large">SavingStar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Laptop Receipt" src="assets/Laptop-Receipt.webp" />
          <ion-card-header>
            <ion-card-title>Laptop Receipt</ion-card-title>
            <ion-card-subtitle>Tech</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img alt="Car Receipt" src="assets/Car.svg" />
          <ion-card-header>
            <ion-card-title>Laptop Receipt</ion-card-title>
            <ion-card-subtitle>Tech</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <img alt="Food Receipt" src="assets/Food.jpg" />
          <ion-card-header>
            <ion-card-title>Laptop Receipt</ion-card-title>
            <ion-card-subtitle>Tech</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img alt="Michaels Receipt" src="assets/Michaels.jpg" />
          <ion-card-header>
            <ion-card-title>Laptop Receipt</ion-card-title>
            <ion-card-subtitle>Tech</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Fab Button -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button expand="block" (click)="setOpen(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal -->

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>New Receipt</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <!-- (click)="takePicture()" -->
        <ion-button  expand="block">
            <ion-icon name="camera"></ion-icon>
        </ion-button>
        
        <ion-item>
          <ion-input label="Enter Name" placeholder="Name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-select label="Choose Category" placeholder="Category">
            <ion-select-option value="apple">Clothes</ion-select-option>
            <ion-select-option value="banana">Food</ion-select-option>
            <ion-select-option value="orange">Assets</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input label="Choose Date"></ion-input>

          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime presentation="date" id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item>
          <ion-input label="Note" placeholder="Note"></ion-input>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
