<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Overview</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Monthy Break Down</ion-card-subtitle>
      <ion-card-title>Finances</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas
        baseChart
        class="chart"
        [data]="BarChartData"
        [options]="BarChartOptions"
        [type]="BarChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      ></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Breakdown by</ion-card-subtitle>
      <ion-card-title>Categories</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas
        baseChart
        class="chart"
        [data]="PieChartData"
        [options]="PieChartOptions"
        [type]="PieChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      ></canvas>

      Clothes _______________________ €{{PieChartData.datasets[0].data[0]}} <br>
      Bowling _______________________ €{{PieChartData.datasets[0].data[1]}} <br>
      Coffee ________________________ €{{PieChartData.datasets[0].data[2]}}
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button expand="block" (click)="setOpen(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isModalOpen">
    <form [formGroup]="fg" (ngSubmit)="addNewTransaction();">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>New Transaction</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          
          <ion-item>
            <ion-input label="Enter Amount" placeholder="Amount" formControlName="amount"></ion-input>
          </ion-item>

          <ion-item>
            <ion-select label="Choose Label" placeholder="Label" formControlName="pos">
              <ion-select-option value="income">Income</ion-select-option>
              <ion-select-option value="expense">Expense</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-select label="Choose Category" placeholder="Category" formControlName="category">
              <ion-select-option value="clothes">Clothes</ion-select-option>
              <ion-select-option value="food">Food</ion-select-option>
              <ion-select-option value="assets">Assets</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-input label="Choose Date" formControlName="date"></ion-input>

            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime presentation="date" id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item>
            <ion-input label="Note" placeholder="Note"></ion-input>
          </ion-item>

          <ion-item>
            <ion-select label="Repeat" placeholder="Repeat">
              <ion-select-option value="never">Never</ion-select-option>
              <ion-select-option value="everyday">Everyday</ion-select-option>
              <ion-select-option value="everyWeek">Every Week</ion-select-option>
              <ion-select-option value="everyMonth">Every Month</ion-select-option>
            </ion-select>
          </ion-item>

          <br>
          <br>

          <ion-button expand="block" color="success" (click)="setOpen(false)">Save</ion-button>
        </ion-content>
      </ng-template>
    </form>
  </ion-modal>
  
</ion-content>

