<ion-content class="ion-padding">

  <ion-img src="assets/Logo.png" style="width: 200px; height: auto; margin: auto;"></ion-img>
  <h1 style="text-align: center;">Saving Star</h1>

  <br>
  <br>

  <h3 style="text-align: center;">Login</h3>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>

  <ion-alert
    [isOpen]="showAlert"
    header="Login Failed"
    message="Wrong Username or Password"
    (didDismiss)="hideAlert()">
  </ion-alert>

  <ion-button id="login" expand="block" (click)="login()" style="padding-top: 30px;">Login</ion-button>

  <br>
  <br>

  <ion-text (click)="goToNewPage()" style="text-decoration: underline; color: blue; cursor: pointer;">
    Don't have an account? Signup now!
  </ion-text>
</ion-content>

