.custom-icon{
    margin-right: 20px;
}

.custom-header {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.custom-header h1 {
    margin-left: 10px; /* Adjust the margin value as needed */
}

.colourText {
    color: red; /* Set the color for the heading text */
}