<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="20px">
            <ion-thumbnail style="width: 25px; height: auto;">
              <img alt="Logo" src="assets/Logo.png"/>
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            SavingStar
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon src="assets/Logo.png"></ion-icon>
      <ion-title size="large">SavingStar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="custom-header">
    <ion-button slot="start" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h1>Settings</h1>
  </div>
  

  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item>
        <ion-icon name="notifications-outline" class="custom-icon"></ion-icon>
        <ion-toggle [checked]="true">Notifications</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="eye-outline" class="custom-icon"></ion-icon>
        <ion-toggle>Dark Mode</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" class="custom-icon"></ion-icon>
        Privacy and Security
      </ion-item>
      <ion-item>
        <ion-icon name="help-circle-outline" class="custom-icon"></ion-icon>
        About
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" class="custom-icon" color="danger"></ion-icon>
        <p class="colourText">Logout</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-toggle>Default Toggle</ion-toggle><br /><br />
  <ion-toggle [checked]="true">Checked Toggle</ion-toggle><br /><br />

</ion-content>
